---
import Section from "../Section.astro";

---
<Section title="About me">
    <p class="text-muted-foreground">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis atque quia omnis
        consectetur, voluptas praesentium veniam blanditiis ratione asperiores accusantium
        laborum odit commodi quis deserunt incidunt et dolor iure ut! Lorem ipsum dolor sit,
        amet consectetur adipisicing elit.
    </p>
</Section>