---
import Card from "../Card.astro";
import Section from "../Section.astro";

---
<Section title="Certifications">
    <Card
        class="bg-background-secondary flex w-full flex-col gap-x-7 gap-y-1 p-5 text-secondary-foreground"
        as="a"
        heading="Lorem ipsum, dolor sit amet consectetur adipisicing."
        subheading="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta magni consequuntur corrupti."
        date="Mar 2024 - Mar 2024"
        altText="Lorem, ipsum dolor sit"
        href="https://www.google.com"
    />
    <Card
        class="bg-background-secondary flex w-full flex-col gap-x-7 gap-y-1 p-5 text-secondary-foreground"
        as="a"
        heading="Lorem ipsum, dolor sit amet"
        subheading="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam dicta."
        date="Mar 2029 - Mar 2032"
        altText="Lorem, ipsum dolor sit"
        href="https://www.google.com"
    />
</Section>